.header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    z-index: 20;
}

.header .logo {
    color: #F34B49;
    font-size: 36px;
    font-weight: 500;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header nav ul {
    display: flex;
    gap: 1rem;
}

.header nav ul li .navlist {
    padding: 0 0.5rem;
    text-transform: capitalize;

}

.header nav .profile {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: 4rem;
    height: 2.30rem;
    position: relative;
    cursor: pointer;
}

.profile .box {
    position: absolute;
    width: 8rem;
    background-color: #545454;
    top: 3rem;
    right: 0;
    border-radius: 10px;
    display: flex;
    align-items: end;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
}

.profile .box button {
    background-color: none;
    border: none;
}

.profile .box button:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #FDF8FA;
}

.menuBar {
    display: none;
}

/*************** responsiveness ******************/

@media screen and (max-width:480px) {
    .header nav {
        position: absolute;
        height: 100dvh;
        background-color: #545454;
        width: 100%;
        left: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        display: none;

    }



    nav.nonav {
        display: none;
    }

    nav.yesnav {
        display: flex;
    }

    .header nav ul {
        flex-direction: column;
    }

    .menuBar {
        display: block;
        z-index: 20;
    }

    .menuBar i {
        font-size: 25px;
    }

    #close {
        display: none;
    }
}